primechecker/bin/
primechecker/obj/
numbersum/bin/
numbersum/obj/
numberlen/bin/
numberlen/obj/
login_panel/bin/
login_panel/obj/
gussnumber/obj/
gussnumber/bin/
fib/bin/
fib/obj/
fact/bin/
fact/obj/
Checkodd/bin/
Checkodd/obj/
checkoddbigger/bin
checkoddbigger/obj
charger/bin/
charger/obj/
calc/bin/
calc/obj/
calc_moadel/bin/
calc_moadel/obj/
adv_calc/bin/
adv_calc/obj/
.idea/
